#calculator{
    border: 1px solid rgb(121, 115, 115);
    border-radius: 5px;
    width: 200px;
    


}
#display{
    border: 1px solid rgb(138, 133, 133);
    border-radius: 5px;
    width: 85%;
    margin: 10px;
font-size: 25px;

}
.buttoncontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.button{
    height: 45px;
    width: 45px;
    margin: 3px;
}
